@media only screen and (min-width: 769px){
  #show_table{
    /*margin:0 auto;
    border: 2px; */
    max-width: 90%;
    display: inline-block;
    border: 1px dotted #4F4F4F;
    padding: 10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    width:80%;
    column-count: 4;
    column-gap: 1em;
    text-align:center;
  }
  .item {
    display: table;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    text-align:center;
    display: inline-block;
    margin: 1 1 1 1px;
    width: 90%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 769px){
  #show_table{
    /*margin:0 auto;
    border: 2px; */
    max-width: 90%;
    display: inline-block;
    border: 1px dotted #4F4F4F;
    padding: 10px;
    margin: 5px 5px 5px 0;
    overflow:hidden;
    width:90%;
    column-count: 1;
    column-gap: 1em;
    text-align:center;
  }
  .item {
    display: block;
    background-color:#FFFFFF;
    padding:8px;
    margin-bottom:4px;
    border:1px double;
    opacity:0.9;
    text-align:center;
    display: inline-block;

  }
}
.item img{
  margin:0 auto;
  display: block;
  max-width: 100%;
}

.item .name{
  font-size: 24px;
  color: #8bad00 ;
}

.item .hp_img{
  margin:0 auto;
  display: block;
}

.food_hp 
{
  color: 'red' ;
}

#main{
  text-align:center;
}

.HP_eff{
  color :'blue';
}

.HP_eff_tittle{
  color :'blue';
}

.Second_eff{
  color :'blue';
}

.Second_eff_tittle{
  color :'blue';
}

.Second_eff_time{
  color :'blue';
}

.Second_eff_time_tittle{
  color :'blue';
}

body {
  background: url("https://3.bp.blogspot.com/-KXyvbGYg8Jg/WfWpK1QlreI/AAAAAAAAcsU/oOcSA-AzReUfUpLL88cA7WVN5yL_6wddgCLcBGAs/s1600/zelda.jpg") no-repeat center center fixed;
  background-color: #FFFFFF;
  background-position:  center bottom;
  background-attachment: fixed;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  font-size: 16px;
  min-width: 100%;
  min-height: 100%;
}

